body{
    background-color: lightslategray ;
}
p{
width: 300px; /*auto 240px/em/rem 50%*/
padding: 20px; /*top right bottom left*/
margin: auto;/*top right bottom left*/
background-color: #0F4069 ;
color: whitesmoke;
border: 2px solid #e6eaef ;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;

}