.header-container{
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
}
h1{
    display: inline-block;
}
ul{
    display: flex;
    justify-content:flex-end;
}
li{
    display: flex;
    list-style-type: none;
    justify-content:flex-end;
    padding: 10px;
    color: rgb(0, 153, 0);
}