.grid-container {
  display: grid;/*mreja with cells*/
  gap: 10px;/*row-gap/column-gap*/
  grid-template-columns: repeat(6, 100px);/*100px auto;/6 cols*/
  grid-template-rows: repeat(6, 100px);/*6 rows*/
  grid-template-areas:/*. means empty cell*/
    "header header header header header header"
    "aside . main main main main"
    "aside . main main main main"
    "aside . main main main main"
    "aside . main main main main"
    "footer footer footer footer footer footer";
}
.header{
    background-color: lightsalmon;
    grid-area: header;
    /* border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px; */
}
.aside{
    background-color: lightcoral;
    grid-area: aside;
    /* border-radius: 3px;
    padding: 5px 10px;
    margin-left: 6px;
    margin-right: 6px; */
    
}
.main{
    background-color: lightblue;
    grid-area: main;
    /* border-radius: 3px;
    padding: 5px 10px;
    margin-left: 6px;
    margin-right: 6px; */
}
.footer{
    background-color: lightgreen;
    grid-area: footer;
    /* border-radius: 3px;
    padding: 5px 10px;
    margin-left: 6px;
    margin-right: 6px; */
}
.grid-container {
  display: grid; /* mreja with cells */
  gap: 10px; /* row-gap/column-gap */
  grid-template-columns: repeat(6, 100px); /* 100px auto; /6 cols/repeat(3, 1fr); */
  grid-template-rows: repeat(6, 100px); /* 6 rows */
  grid-template-areas: /* . means empty cell */
    'header header header header header header'
    'aside . main main main main'
    'aside . main main main main'
    'aside . main main main main'
    'aside . main main main main'
    'footer footer footer footer footer footer';
}
.header {
  background-color: lightsalmon;
  grid-area: header;
  /* border-radius: 3px;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px; */
}
.aside {
  background-color: lightcoral;
  grid-area: aside;
  /* border-radius: 3px;
  padding: 5px 10px;
  margin-left: 6px;
  margin-right: 6px; */
}
.main {
  background-color: lightblue;
  grid-area: main;
  /* border-radius: 3px;
  padding: 5px 10px;
  margin-left: 6px;
  margin-right: 6px; */
}
.footer {
  background-color: lightgreen;
  grid-area: footer;
  /* border-radius: 3px;
  padding: 5px 10px;
  margin-left: 6px;
  margin-right: 6px; */
}
