body {
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
  }
  .container {
    width: 80%;
    padding: 12px;
    border: 2px dashed black;
    margin-bottom: 32px;
  }
  .container img {
    width: 350px;
  }
  /* STATIC example */
  .static {
    background-color: lightblue;
  }
  .static img {
    position: static;
    top: 20px;
    left: 20px;
  }

position snippet
/* static - cant use top, bottom, left, and right,default 
relative - top, bottom, left, and right - спрямо определения ъгъл -20;20;запазваме оригиналната позиция
absolute - top, bottom, left, and right - спрямо контейнера си,но трябва да зададем position relative/absolute or fixed на контейнъра
fixed - top, bottom, left, and right - спрямо браузъра и не мърда като скройваме/фиксирана
sticky - top, bottom, left, and right - седи си нормално,но като скролваме се залепва за първия скрол на определено място на браузера*/
  /* RELATIVE example */
  .relative {/*container*/
    background-color: lightcoral;
  }
  .relative img {/*img*/
    position: relative;
    top: 50px;
    left: 50px;
  }
  /* ABSOLUTE example */
  .absolute {/*container*/
    background-color: #90ee90;
    position: relative;
  }
  .absolute img {/*img*/
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* left: 20px; */
  }
  /* FIXED example */
  .fixed{/*container*/
    background-color: lightpink;
    position: relative;
  }
  .fixed img{/*img*/
    /* width: 50px;
    height: 50px;
    border-radius: 100%; fixed circle*/
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  /* STICKY example */
  .sticky{/*container*/
    background-color: lightsalmon;
  }
  .sticky p, .sticky-test p{
    font-size: 32px;
  }
  .sticky img{
    position: sticky;
    top: 0px;
  
  }
