body{
    font-family: Helvetica, sans-serif;
    background-color:  rgb(238, 238, 238);
    color: rgb(51, 51, 51) color for the text ;
}
img{
    width: 50%;
}
header{
    display: inline-block;
    max-width:70%;
    
}
aside{
    width: 30%;
    float: right;
}
section p{
    max-width:70%;
}