html{
    font-family: helvetica, sans-serif;
    line-height: 1.5;
}
body{
    border: 1px solid #000;
}
h2{
    font-family: Georgia, serif;
    line-height: 1.2;
}
section{
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 7%;
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
}
article{
    padding-left: 5%;
}
