img {
    width: 300px;
    float:right;
    margin-left: 40px;
  }0[p]
  .float-container {
    border: 3px dashed black;
  }
  
  /* .clearfix {
    overflow: auto;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */